body {
  font-family: 'Poppins', sans-serif;
}

.name {
  color: orange;
}

.h1 {
  font-size: 40px;
}

.h2 {
  font-size: 20px;
}

.para {
  font-size: 15px;
  text-align: justify;
}

section {
  display: flex;
}

.half-width {
  width: 50%;
  padding-left: 10%;
}

.half-width img {
  width: 70%;
}

#link-button {
  color: white;
  background-color: orange;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 40px;
}